{{define "main"}}
<article>
  {{ partial "particles-js.html" }}
  {{ partial "page-header.html" (dict "title" .Title "class" "text-5xl") }}

  <div class="content fcc">
    {{ with .Params.featured_image }}
      {{ with resources.Get . }}
        <div class="overflow-hidden image">
          {{ $featuredimage := (.Resize "1500x webp q80").RelPermalink }}
          <img src="{{ $featuredimage }}" srcset="
            {{- with $featuredimage -}}, {{.}} 1100w{{- end -}}"
               class="w-full h-auto" alt="{{ $.Params.title }}" />
        </div>
      {{ end }}
    {{ end }}

    <div class="text-container fcc">
      <div class="custom-text">
        {{ .Content | safeHTML }}
      </div>
    </div>
  </div>
</article>
{{end}}
