/* assets */
@tailwind base;
@tailwind components;
@tailwind utilities;

.landing-page-wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
}

.landing-page-image {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    z-index: 1;
}

.black-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
    opacity: 0.75;
}

.fcc {
    @apply flex justify-center items-center;
}

.fss {
    @apply flex justify-start items-start;
}


.landing-page {
    @apply flex-col;
}

.landing-page .sherpasec-text {
    @apply flex-col;
}

.landing-page .sherpasec-text p {
    @apply text-center;
}

.logo-container .landing-page-logo {
    @apply mr-12;
}

.logo-container {
    @apply flex-row absolute top-0 left-0 w-full h-full z-[5];
}

.sponsors-2024-container {
    flex-direction: column;
    width: 100%;
}

.sponsors-2024 {
    flex-direction: row;
    flex-wrap: wrap;
}

.sponsors-2024 img {
    max-width: 8vw;
    margin: 10px 15px
}

.sponsors-2024 h3 {
    font-size: 1.25rem;
}

.sponsors-2025 {
    @apply flex-row flex-wrap;
}

.sponsors-2025.platinum-sponsors, .sponsors-2025.bronze-sponsors, .sponsors-2025.bik-sponsors, .sponsors-2025.gold-sponsors {
    @apply border-2 rounded-lg p-5 w-full flex-row flex-wrap;
    border-color: #0C7CBA;
}

.sponsors-2025.platinum-sponsors img.div0 {
    max-width: 7vw;
}

.sponsors-2025.platinum-sponsors img, .sponsors-2025.bronze-sponsors img {
    @apply h-auto mx-4 my-6;
    max-width: 14vw;
}

.sponsors-2025.gold-sponsors img {
    max-width: 12vw;
}

.sponsors-2025.bik-sponsors img {
    max-width: 8vw;
}

.sponsors-2025 h3 {
    @apply text-xl;
}

.discord {
    @apply border-2 border-white px-5 py-2.5 rounded-lg flex-row inline-flex bg-white mt-4;
}

.discord p {
    @apply text-black;
}

.discord svg {
    @apply mr-2.5 text-black;
}

.discord.fcc:hover {
    border-color: #0c7cba;
    color: #0c7cba;
}

.discord.fcc:hover svg, .discord.fcc:hover p {
    fill: #0c7cba;
    color: #0c7cba;
}

.information.mission, .information.community-call, .information.community-partners {
    @apply flex-col w-3/5 mt-24;
}

.information.mission .title, .information.community-call .title, .information.community-partners .title {
    @apply text-center;
}

.information.community-partners .community-partner-logos > .div0 {
    max-width: 12vw;
}

.information.community-partners img {
    @apply mx-6 my-0;
    max-width: 17vw;
}

.information.community-partners .button {
    @apply border-2 border-white px-5 py-2.5 rounded-lg flex-row inline-flex bg-transparent text-white my-12 mx-0;
}

.information.community-partners .community-partner-logos {
  @apply border-t-2 border-b-2 border-white w-screen relative left-0 right-0 -mx-[50vw] mt-12;
}

.information.community-partners .button:hover {
    border-color: #0C7CBA;
    color: #0C7CBA;
}

.information.mission .text-container {
    @apply flex-row;
}

.information.mission .text-container .mission-items {
    @apply flex-col w-1/3;
}

.information.mission .text-container .mission-items img {
  @apply rounded-full p-5 w-24 h-24 object-cover invert border-2;
  border-color: #F38345;
}

.information.mission .text-container .mission-items:nth-child(2) .custom-text  {
  @apply border-l-2 border-r-2 px-8 py-0;
  border-color: #0C7CBA;
}


.information.mission .text-container p {
    @apply m-2.5;
}

.information.mission img, .information.community-call img {
    @apply rounded-xl m-8 object-cover overflow-hidden;
    aspect-ratio: 16 / 9;
}

.information {
    @apply flex-row w-4/5 mt-24;
}

.information .image {
    @apply rounded-xl w-[55%] m-8 object-cover overflow-hidden;
    aspect-ratio: 16 / 9;
}

.information .information-text {
    @apply flex-col m-8 w-[45%];
}

.information .title, .past-events .title {
    @apply text-center w-full font-extrabold text-4xl text-white;
}


.landing-page-past-events-summary {
    @apply text-justify;
}

.landing-page-past-events {
    @apply shadow-md;
    box-shadow: 0 0 2px #0C7CBA;
}


.custom-text {
    @apply text-justify text-white my-2.5 text-lg;
}


.content {
    @apply flex-col w-screen my-12 mx-0 mb-24;
}

.content .text-container {
    @apply w-1/2;
}

.content .text-container p {
    @apply my-4 mx-0;
}

.content .image {
    @apply rounded-xl w-1/2 m-8 object-cover overflow-hidden;
    aspect-ratio: 16 / 9;
}

.content .text-container h1 {
    @apply text-4xl font-extrabold;
}

.content .text-container h2 {
    @apply text-2xl font-bold mt-8 mb-4;
}

.content .text-container h3 {
    @apply text-xl font-semibold mt-6 mb-2;
}

hr {
    @apply my-6 mx-0;
}

.content .text-container ul {
    @apply list-disc mb-5 pl-7;
}

.content .text-container li {
   @apply pl-1.5 my-2;
}

.content .text-container a {
    @apply font-medium underline;
    color: #18d2d2;
}

article header h1 {
    @apply py-24 px-0;
}

.year-container {
    padding: 0 1.5rem 1.5rem 1.5rem !important;
}

.year {
    text-decoration: none !important;
}

.testimonials-container {
    width: 50vw;
}

.testimonial {
    text-decoration: none !important;
}

.gcc-stats {
    margin-top: 50px;
}

.year-container { 
    padding-top: 0.25rem !important;
}

.latest-container > span {
    margin-left: 1rem !important;
}

.testimonial > p {
    margin: 1rem 1.25rem !important;
}

.supported-ctf-title {
    margin: 0.5rem 0 1rem 0 !important;
}

.timeline-inner {
    padding: 0 !important;
}

.timeline-inner > div {
    padding-right: 0 !important;
}

.supported-ctf-blogs > a, .supported-ctf-title > a {
    text-decoration: none !important;
}

.sherpasec-brand-text {
    margin: 1rem 0 !important;
}

.sherpasec-logo-text {
    margin: 0 !important;
}

.sherpa-download-logo {
    text-decoration: none !important;
}

@media (max-width: 1080px) {
    .testimonials-container {
        width: 65vw;
    }

    .sponsors-2025.platinum-sponsors img.div0 , .sponsors-2025.bik-sponsors img {
        max-width: 10vw;
    }

    .sponsors-2025.platinum-sponsors img, .sponsors-2025.bronze-sponsors img {
        max-width: 18vw;
    }


    .information.mission, .information.community-call, .information.community-partners {
        @apply w-3/4;
    }

    .logo-container .sherpasec-text {
        @apply mb-2.5;
    }

    .logo-container .landing-page-logo {
        @apply my-12 mx-0 mb-20;
    }

    .information {
        @apply flex-col w-4/5;
    }

    .information .image {
        @apply w-4/5;
    }

    .information .information-text {
        @apply w-4/5;
    }

    .content .text-container {
        @apply w-[70%];
    }

    .content .image {
        @apply w-[70%];
    }
}

@media (max-width: 768px) {
    .sponsors-2025.platinum-sponsors img.div0 , .sponsors-2025.bik-sponsors img {
        max-width: 18vw;
    }

    .testimonials-container {
        width: 80vw;
    }

    .sponsors-2025.platinum-sponsors img, .sponsors-2025.bronze-sponsors img {
        max-width: 28vw;
    }

    .information.community-partners .community-partner-logos > .div0 {
        max-width: 15vw;
    }

    .information.community-partners img {
        @apply mx-6 my-0;
        max-width: 20vw;
    }

    .information.mission, .information.community-call, .information.community-partners {
        @apply w-[85%];
    }

    .logo-container .sherpasec-text {
        @apply w-[80vw] text-center;
    }

    .information.mission .text-container {
        @apply flex-col justify-center items-center;
    }

    .information.mission .text-container .mission-items {
        @apply w-full;
    }

    .information.mission .text-container .mission-items:nth-child(2) .custom-text  {
        @apply border-l-0 border-r-0 p-0;
    }

    .information {
        @apply flex-col w-[90%];
    }

    .information .image {
        @apply w-[90%];
    }

    .information .information-text {
        @apply w-[90%];
    }

    .content .text-container {
        @apply w-[85%];
    }

    .content .image {
        @apply w-[85%];
    }
}

@media (max-width: 768px) {
    .information.community-partners .community-partner-logos > .div0 {
        max-width: 35vw;
    }

    .information.community-partners img {
        @apply mx-4 my-0;
        max-width: 45vw;
    }
}

/* Custom CSS */

.bg-primary-800:has(#particles-js) {
    background-color: #111827 !important;
}

.prose :where(h1):not(:where([class~="not-prose"] *)) {
    color: white !important;
}

/** SherpaSec Font**/
@font-face {
    font-family: 'conthrax-sb';
    src: url('/fonts/conthrax-sb.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.conthrax-sb-font {
    font-family: 'conthrax-sb';
}

/* Winner card text wrapping */
.custom-wrapper {
    word-wrap: break-word !important;
    overflow-wrap: break-word !important;
    word-break: break-word !important;
    hyphens: auto !important;
}

/* Custom CSS end */
