{{/*
  Simple navigation dropdown content
*/}}

{{- $context := .context -}}
{{- $menuItem := .menuItem -}}

<div x-show="open" x-transition:enter="transition ease-out duration-100"
     x-transition:enter-start="transform opacity-0 scale-95"
     x-transition:enter-end="transform opacity-100 scale-100"
     x-transition:leave="transition ease-in duration-75"
     x-transition:leave-start="transform opacity-100 scale-100"
     x-transition:leave-end="transform opacity-0 scale-95"
     class="absolute right-0 z-30 w-full mt-2 origin-top-right rounded-md shadow-lg md:w-48">
    <div class="px-2 py-2 text-primary-900 bg-white rounded-md shadow">
        {{ range (index $context.site.Menus $menuItem.Identifier) }}
        <a class="block px-4 py-2 mt-2 text-sm font-semibold bg-transparent rounded-lg md:mt-0 hover:text-white focus:text-white hover:bg-primary-600 focus:bg-primary-600 focus:outline-none focus:shadow-outline"
           href="{{ .URL | absLangURL }}">{{- .Name -}}</a>
        {{ end }}
    </div>
</div>
